body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .liBold {
    font-weight: bold;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .squareWinner {
    background: rgb(192, 240, 186);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .squareDraw {
    background: rgb(253, 251, 148);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .toggle {
    margin-top: 20px;
    background: #1da1f2;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    box-shadow: 6px 6px 6px #cbced1,  -6px -6px 6px white;
    border-color: #cbced1;
/*hover*/
    transition: 0.5s 1s;
   /* or individually to modify only 1 property 
   transition:background-color 0.5s 1s;*/
    cursor: pointer;
}

.toggle:hover{
  box-shadow: none;
  background-color: #17698f;
}